.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  min-width: 800px;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  background-color: aliceblue;
}

.tetris-title-container {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-color: beige;
}

.tetris-title {
  height: auto;
  font-size: 40px;
  text-transform: uppercase;
}

.tetris-title-nav {
  width: 80vw;
  margin: 10px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}

.tetris-title-nav > div {
  height: 25px;
  margin: 0px 30px 0px 30px;
  border-bottom: 2px solid transparent;
  transition-duration: .5s;
}

.tetris-title-nav > div:hover {
  border-bottom: 2px solid black;
}

.tetris-canvas-container {
  height: 85%;
  width: auto;
  min-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tetris-canvas-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 100%;
  border: 1px solid red;
}

.tetris-hold {
  width: 200px;
  height: 20%;
  border: 1px solid blue;
  background-color: bisque
}

.tetris-score {
  width: 200px;
  height: 60%;
  border: 1px solid blue;
  background-color: aqua
}

.tetris-canvas-middle {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  height: 100%;
  min-width: 250px;
  min-height: 500px;
}

#tetris {
  min-width: 250px;
  border: 5px solid #000000;
}

.tetris-canvas-right {
  width: 200px;
  height: 100%;
  border: 1px solid red;
}

.tetris-preview {
  width: 200px;
  height: 40%;
  border: 1px solid green;
}