.tetris-canvas-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 540px;
  border: 5px solid black;
}

.tetris-hold-container, .tetris-score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.tetris-hold-container > div, .tetris-score-container > div {
  width: 184px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tetris-hold-container {
  height: 25%;
  border: 1px solid blue;
  background-color: bisque;
}

.hold-title, .score-title {
  font-size: 25px;
}

.hold-title {

}

.hold-display {
  height: 70%;
}

.hold-display, .score-display {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid orangered;
}

.tetris-score-container {
  height: 50%;
  border: 1px solid blue;
  background-color: aqua
}

.score-title {
  height: 15%;
}

.score-display {
  height: 85%;
}