.tetris-canvas-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  opacity: .8;
  background-color:#000;
}

canvas {
  /* border: .2em solid red; */
  opacity: 1;
}

#gamePaused {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* display: none; */
  z-index: 1;
  position: absolute;
  font-size: 50px;
  opacity: 1;
  width: 270px;
  color: whitesmoke;
}
/* 
.gamePaused {
  display: none;
} */