.tetris-canvas-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  opacity: .8;
  background-color:#000;
}

canvas {
  /* border: .2em solid red; */
  opacity: 1;
}

#gamePaused {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  font-size: 50px;
  opacity: 1;
  width: 270px;
  color: whitesmoke;
}

#start-game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  position: fixed;
  font-size: 50px;
  opacity: 1;
  color: whitesmoke;
  border: 5px solid white;
  padding: 10px;
  background: none;
  transition-duration: .6s;
  cursor: pointer;
}

#start-game:hover {
  background-color: white;
  color: black;
}

#game-over {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  position: fixed;
  font-size: 50px;
  opacity: 1;
  color: whitesmoke;
  border: 5px solid white;
  padding: 10px;
  background: none;
  transition-duration: .6s;
}