.tetris-canvas-middle {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 280px;
  height: 550px;
}

#tetris {
  min-width: 250px;
  border: 5px solid #000000;
}