.tetris-canvas-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 540px;
  margin-left: 10px;
  border: 5px solid black;
}

.tetris-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.tetris-preview-container > div {
  width: 184px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tetris-preview-container {
  height: 25%;
  border: 1px solid blue;
  background-color: bisque;
}

.preview-title, .score-title {
  font-size: 25px;
}

.preview-title {

}

.preview-display {
  height: 70%;
}

.preview-display {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid orangered;
}
