.tetris-canvas-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 540px;
  margin-left: 10px;
  /* border: 5px solid black; */
}

.tetris-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.tetris-preview-container > div {
  width: 184px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tetris-preview-container {
  /* height: 25%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.brick-preview-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.brick-preview-container > div {
  /* border: 1px solid white; */
}

.preview-title, .score-title {
  font-size: 25px;
}

.preview-title {

}

.preview-display {
  height: 70%;
}

.preview-display {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid orangered; */
}
